extends layout

block content
  h1= title
  each message in messages 
    div 
      p.title= message.title
      p.body= message.body
      p.time Posted #{message.posted_ago}
      if user && user.member
        p.author By @#{message.user.username}
