extends layout

block content
  .container.mx-auto.py-8
    h1.text-3xl.font-bold.text-center.text-blue-600= user.name
    .profile.bg-white.rounded-lg.shadow-md.p-6.mt-6.space-y-4
      h2.text-xl.font-semibold.text-gray-800 @#{user.username}
      p.text-gray-700 
        strong.text-gray-900 Born on: 
        span #{user.dob_formatted}
      p.text-gray-700
        strong.text-gray-900 Mail: 
        a(href="mailto:" + user.email class="text-blue-500 hover:underline")= user.email
      p.text-gray-700
        strong.text-gray-900 About: 
        span #{user.bio}
      if user.member
        p.text-gray-700 Visit the 
          a(href="/" class="text-blue-500 hover:underline") messages
      else
        p.text-gray-700 You are not a member yet, 
          a(href="/joinclub" class="text-blue-500 hover:underline") join now!
